/* Detete this piece */

body {
	background-color: #eeeeee;
	margin: 0;
}

/* ------------------------------------------------------------------- */

.hx-page {
	position: relative;
	width: 100%;
	height: 700px; /* for compatibility */
	height: 100vmin;

	background: white;
	margin: 0;
	visibility: hidden;
	overflow: hidden;
	box-sizing: border-box;
	font-family: "ProximaNova", sans-serif;
	font-weight: normal;
	font-size: 4.47vmin;
	text-rendering: geometricPrecision;
	transition: height 0.65s;
}

.hx-page.collapsed {
	height: 57.13vmin;
}

/* Acts as coordinate grid */
.hx-base {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 665px;
	height: 665px;
	height: 85vmin;
	width: 85vmin;
	background: none;
	margin: 0;
	transform: translate(-50%, -50%);
}

.hx-net {
	display: block;
	position: absolute;
	margin: 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: none;
	z-index: +2;
	visibility: visible;
	transition: transform 0.65s, visibility 0.65s;
}

.hx-net.collapsed {
	visibility: hidden;
	transition: transform 0.65s, visibility 0.65s;
	transform: scale(0.1, 0.1);
}

.hx-node {
	display: none;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

.hx-mark {
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-style: none;
	border-radius: 50%;
	margin: 0;
	background-color: rgba(102, 102, 103, 1);
	z-index: +3;
	transition: background-color 0.65s ease-out;
}

.hx-net.collapsed .hx-mark {
	background-color: rgba(102, 102, 103, 0);
	transition: background-color 0.65s ease-in;
}

.hx-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	border: none;
	margin: 0;
	background-color: rgba(138, 141, 139, 1);
	transition: background-color 0.65s ease-out;
	z-index: +2;
}

.hx-net.collapsed .hx-link {
	background-color: rgba(138, 141, 139, 0);
	transition: background-color 0.65s ease-in;
}

.hx-block {
	display: block;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: none;
	visibility: visible;
	transform: translate(-50%, -50%);
	transition: visibility 0.65s;
	cursor: default;
}

.hx-block.small {
	width: 18.86%;
	height: 16.33%;
	z-index: +4;
}

.hx-block.big {
	height: 30.33%;
	width: 35.03%;
}

.hx-block.collapsed {
	visibility: hidden;
	transition: visibility 0.65s;
}

.hx-inner {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 122.47%; /* R*tg(60deg)/cos(45deg) */
	height: 141.42%;
	transform: translate(-50%, -50%) scaleX(0.5774) rotate(45deg); /* scale = R/h = 1/tg(60deg) */
	overflow: hidden;
}

.hx-inner-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	transition: transform 0.65s;
}

.hx-block.collapsed .hx-inner-wrapper {
	transform: scale(0.1, 0.1);
}

.hx-block.small .hx-inner {
	background-color: rgb(187, 237, 233);
}

.hx-block.small {
	opacity: 1;
	visibility: visible;
	transition: visibility 0.65s, opacity 0.65s ease-out;
}

.hx-block.small.collapsed {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.65s, opacity 0.65s ease-in;
}

.hx-block.big .hx-inner {
	transition: background-color 0.65s ease-out;
	background-color: rgba(104, 218, 212, 1);
}

.hx-block.big.collapsed .hx-inner {
	transition: background-color 0.65s ease-in;
	background-color: rgba(104, 218, 212, 0);
}

.hx-block.center {
	height: 30.33%;
	width: 35.03%;
	z-index: +1;
}

.hx-block.center .hx-inner {
	background-color: #ffa488;
}

.hx-content {
	display: block;
	position: absolute;
	top: 14.645%;
	left: 9.175%;
	width: 81.65%;
	height: 70.711%;
	border: 0;
	margin: 0;
	padding: 0;
	transform: rotate(-45deg) scaleX(1.7321);
	box-sizing: border-box;
	background: none;
}

.hx-slide-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	transition: transform 0.65s;
}

.hx-slide-wrapper.slide-1 {
	transform: translateY(-50%);
}

.hx-slide {
	position: relative;
	display: block;
	width: 100%;
	height: 50%;
	font-size: 0.35em;
	color: rgb(102, 102, 103);
}

.hx-slide [class *= "hx-icon-"] {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 47.63%;
	height: 55%;
	background-image: url("icons.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	box-sizing: border-box;
	background-origin: border-box;
	transform: translate(-50%, -50%);
}

.hx-slide .hx-icon-0 {
	background-position: 0.35% 0;
}

.hx-slide .hx-icon-1 {
	background-position: 10.25% 0;
}

.hx-slide .hx-icon-2 {
	background-position: 20.25% 0;
}

.hx-slide .hx-icon-3 {
	background-position: 30.25% 0;
}

.hx-slide .hx-icon-4 {
	background-position: 40.15% 0;
}

.hx-slide .hx-icon-5 {
	background-position: 50.25% 0;
}

.hx-slide .hx-icon-6 {
	background-position: 60.20% 0;
}

.hx-slide .hx-icon-7 {
	background-position: 70.35% 0;
}

.hx-slide .hx-icon-8 {
	background-position: 80.25% 0;
}

.hx-slide .hx-icon-9 {
	background-position: 90.15% 0;
}

.hx-slide .hx-icon-10 {
	background-position: 100% 0;
}

.hx-slide h3, .hx-slide h2, .hx-slide p {
	margin: 0;
	text-align: center;
}

.hx-block.small .hx-slide h3, .hx-block.small .hx-slide p {
	font-size: 1em;
	line-height: 106.25%;
}

.hx-block.small .hx-slide h3 {
	font-weight: bold;
	padding-top: 22%;
}

.hx-block.small .hx-slide h2 {
	font-size: 3em;
	font-family: "PFDinTextCondPro", sans-serif;
	font-weight: bold;
	line-height: 120%;
	margin-bottom: -6%;
}

.hx-block.big .hx-slide {
	color: rgba(102, 102, 103, 1);
	transition: color 0.65s ease-out;
}

.hx-block.big.collapsed .hx-slide {
	color: rgba(102, 102, 103, 0);
	transition: color 0.65s ease-in;
}

.hx-block.big .hx-slide p, .hx-block.center .hx-slide p {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	top: 50%;
	font-size: 1.3em;
	font-weight: bold;
	transform: translateY(-50%);
}

ol.hx-indicators {
	position: absolute;
	width: 100%;
	bottom: 4%;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 15px;
	transform: translateY(50%);
	transition: bottom 0.65s;
	cursor: default;
}

.hx-page.collapsed ol.hx-indicators {
	bottom: 7%;
}

ol.hx-indicators > li {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: black;
	border: 0;
	border-radius: 50%;
	margin: 1px;
	padding: 0;
	cursor: pointer;
	background-color: #eeeeee;
	transition: background-color 0.3s;
}

ol.hx-indicators > li.active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: rgb(153, 153, 153);
}

.hx-nav-box {
	position: absolute;
	height: 100%;
	width: 200px;
	background: none;
}

.hx-nav-box.prev {
	left: 0;
}

.hx-nav-box.next {
	right: 0;
}

.hx-nav-icon {
	position: absolute;
	display: block;
	top: 50%;
	font-family: 'iconbasic';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 40px;
    width: 40px;
    height: 40px;
	transform: translateY(-50%);
	color: #eeeeee;
	transition: color 0.3s;
}

.hx-nav-box:hover .hx-nav-icon {
	color: rgb(153, 153, 153);
}

.hx-nav-box.prev .hx-nav-icon {
	left: 20px;
}

.hx-nav-box.prev .hx-nav-icon::before {
	content: "\e657";
}

.hx-nav-box.next .hx-nav-icon {
	right: 20px;
}

.hx-nav-box.next .hx-nav-icon::before {
	content: "\e659";
}
