.hx-page {
	width: 100%;
	background: white;
	margin: 0;
	visibility: hidden;
	overflow: hidden;
	padding: 15px 0;
	box-sizing: border-box;
}

/* Acts as coordinate grid */
.hx-base {
	position: relative;
	background: none;
	height: 700px; /* for compatibility */
	width: 700px;

	/* r=sqrt3*R/2 */
	height: 95vmin; /* =2*r */
	width: 95vmin;

	margin: 0 auto;
}

.hx-node {
	display: none;
	top: 0;
	left: 0;
	z-index: +1;
}

.hx-mark {
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-style: none;
	border-radius: 50%;
	background-color: #60605d;
	margin: 0;
}

.hx-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	border: none;
	margin: 0;
	background-color: #60605d;
}

.hx-outer {
	display: block;
	position: absolute;
	border: 0;
	margin: 0;
	overflow: hidden;
	background: none;
}

.hx-small {
	width: 18.86%;
	height: 16.33%;
	z-index: +2;
}

.hx-inner {
	display: block;
	position: absolute;
	border: 0;
	margin: 0;
	left: 50%;
	top: 50%;
	width: 122.47%; /* R*tg(60deg)/cos(45deg) */
	height: 141.42%;
	transform: translate(-50%, -50%) scaleX(0.5774) rotate(45deg); /* scale = R/h = 1/tg(60deg) */
	background-color: #bfe0da;
	overflow: hidden;
}

.hx-content {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	padding: 14.645% 9.175%;
	font-size: 20px;
	transform: rotate(-45deg) scaleX(1.7321);
	box-sizing: border-box;
}