.hx-page {
	width: 100%;
	background: white;
	margin: 0;
	visibility: hidden;
	overflow: hidden;
	padding: 15px 0;
	box-sizing: border-box;
}

/* Acts as coordinate grid */
.hx-base {
	position: relative;
	background: none;
	height: 700px; /* for compatibility */
	width: 700px;

	/* r=sqrt3*R/2 */
	height: 95vmin; /* =2*r */
	width: 95vmin;

	margin: 0 auto;
}

.hx-net {
	display: block;
	position: absolute;
	margin: 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	background: none;
	z-index: +2;
	visibility: visible;
	transition: transform 1s, visibility 1s;
	transform: translate(-50%, -50%);
}

.hx-net.collapsed {
	visibility: hidden;
	transition: transform 1s, visibility 1s;
	transform: translate(-50%, -50%) scale(0.1, 0.1);
}

.hx-node {
	display: none;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

.hx-mark {
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-style: none;
	border-radius: 50%;
	margin: 0;
	background-color: rgba(96, 96, 93, 1);
	z-index: +3;
	transition: background-color 1s ease-out;
}

.hx-net.collapsed .hx-mark {
	background-color: rgba(96, 96, 93, 0);
	transition: background-color 1s ease-in;
}

.hx-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	border: none;
	margin: 0;
	background-color: rgba(138, 141, 139, 1);
	transition: background-color 1s ease-out;
	z-index: +2;
}

.hx-net.collapsed .hx-link {
	background-color: rgba(138, 141, 139, 0);
	transition: background-color 1s ease-in;
}

.hx-block {
	display: block;
	position: absolute;
	border: 0;
	margin: 0;
	overflow: hidden;
	background: none;
	visibility: visible;
	transform: translate(-50%, -50%);
	transition: width 1s, height 1s, visibility 1s;
}

.hx-block.small {
	width: 18.86%;
	height: 16.33%;
	z-index: +4;
}

.hx-block.big {
	height: 30.33%;
	width: 35.03%;
}

.hx-block.collapsed {
	height: 0;
	width: 0;
	visibility: hidden;
	transition: width 1s, height 1s, visibility 1s;
}

.hx-inner {
	display: block;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	left: 50%;
	top: 50%;
	width: 122.47%; /* R*tg(60deg)/cos(45deg) */
	height: 141.42%;
	transform: translate(-50%, -50%) scaleX(0.5774) rotate(45deg); /* scale = R/h = 1/tg(60deg) */
	transition: background-color 1s ease-out;
	overflow: hidden;
}

.hx-block.small .hx-inner {
	background-color: rgba(187, 237, 233, 1);
}

.hx-block.small.collapsed .hx-inner {
	background-color: rgba(187, 237, 233, 0);
}

.hx-block.big .hx-inner {
	background-color: rgba(104, 218, 212, 1);
}

.hx-block.big.collapsed .hx-inner {
	background-color: rgba(104, 218, 212, 0);
}

.hx-block.center {
	height: 30.33%;
	width: 35.03%;
	z-index: +1;
}

.hx-block.center .hx-inner {
	background-color: #ffa488;
}

.hx-content {
	display: block;
	position: absolute;
	top: 14.645%;
	left: 9.175%;
	width: 81.65%;
	height: 70.711%;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	transform: rotate(-45deg) scaleX(1.7321);
	box-sizing: border-box;
	background: none;
}

.hx-slide-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	transition: top 1s;
}

.hx-slide-wrapper.slide-1 {
	top: -100%;
}

.hx-slide {
	position: relative;
	display: block;
	width: 100%;
	height: 50%;
}

.hx-slide [class *= "hx-icon-"] {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 47.63%;
	height: 55%;
	background-image: url("icons.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	box-sizing: border-box;
	background-origin: border-box;
	transform: translate(-50%, -50%);
}

.hx-slide .hx-icon-0 {
	background-position: 0.25% 0;
}

.hx-slide .hx-icon-1 {
	background-position: 10.25% 0;
}

.hx-slide .hx-icon-2 {
	background-position: 20.25% 0;
}

.hx-slide .hx-icon-3 {
	background-position: 30.25% 0;
}

.hx-slide .hx-icon-4 {
	background-position: 40.15% 0;
}

.hx-slide .hx-icon-5 {
	background-position: 50.25% 0;
}

.hx-slide .hx-icon-6 {
	background-position: 60.20% 0;
}

.hx-slide .hx-icon-7 {
	background-position: 70.35% 0;
}

.hx-slide .hx-icon-8 {
	background-position: 80.25% 0;
}

.hx-slide .hx-icon-9 {
	background-position: 90.15% 0;
}

.hx-slide .hx-icon-10 {
	background-position: 99.75% 0;
}
